extends ../layout.jade

block view
  .hero
  .tile
    .tile__row
      .tile__item
        img(src='/assets/icons/beer.png')
        .legend
          | Beverages
        .tile__vertical-separator-bottom
      .tile__item
        img(src='/assets/icons/spaghetti.png')
        .legend
          | Food
      .tile__horizontal-separator
    .tile__row
      .tile__item
        img(src='/assets/icons/pizza.png')
        .legend
          | Food
        .tile__vertical-separator-top
      .tile__item
        img(src='/assets/icons/red_wine.png')
        .legend
          | Wines
        
