extends ../layout.jade

block view
  .hero 
  .prompt
    h1 Make your ordR
  .tile
    .tile__row
      .tile__item.tile__item--black
        //img(src='/assets/icons/beer.png')
        //.legend
          | Beverages
      .tile__item.tile__item--green-dark
        //img(src='/assets/icons/spaghetti.png')
        //.legend
          | Food
    .tile__row
      .tile__item.tile__item--green-light
        //img(src='/assets/icons/pizza.png')
        //.legend
          | Food
      .tile__item.tile__item--red
        //img(src='/assets/icons/red_wine.png')
        //.legend
          | Wines
        
  div
    h4 Estimated waiting time
    .title 34 : 00
        
