doctype html
html
	head
		link(
			rel="stylesheet",
			href="../../css/all.css"
		)
		script(
			src='../../jquery.min.js'
		)
		script(
			src='../../../general.js'
		)

	body

		.navbar
			.navbar__header(onclick="toggleMenu()") waitR

		.view
			.side-menu Slide menu
			.container(id="container")
				block view
