.list
	background-color: white
	min-height: 2*ui-vr
	border: ui-dark solid 1px
	margin: ui-hr
	border-radius: 3px
	&__header
		background-color: ui-dark
		text-align: center
		color: ui-grey
		position: relative
		padding: 0.5*ui-vr
		font-size: ui-font-size-h3
		border-bottom: 3px solid ui-lightred
	&__item
		border-radius: 3px
		color: ui-black
		position: relative
		padding: 0.5*ui-vr
		border-bottom: solid 1px ui-black
