.side-menu
	float: left
	background-color: ui-black
	color:  ui-lightgrey
	position: absolute
	width: ui-side-menu-size
	border-right: solid 2px ui-lightred
	padding-top: ui-vr
	cursor: pointer
	padding-left: ui-hr*0.5
	height: 350px
	overflow-y: scroll
	
	.flag 
		padding-left: ui-hr

	&__title 
		transition: color 0.2s ease-in
		font-size: ui-font-size-h3
		padding-left: ui-hr
	
	&__title:hover
		color:  white
		
	&__item 
		transition: color 0.2s ease-in
		font-size: ui-font-size-small
		padding-bottom: ui-hr*0.5
	
	&__item:hover
		color:  white
		
	&__separator
		width: 80%
		height: ui-separator-height
		background-color: ui-lightgrey
		margin-left: 10%;
		margin-bottom: ui-vr;