.tile
  display: inline-block
  margin-left: 50%
  margin-top: 2*ui-hr
  transform: translate3d(-50%, 0,0)
  &__row
    min-width: ui-vr
    height: 5*ui-vr
  &__item
    float: left
    background-color: white
    transition: background-color 0.1s ease-in
    width: 5*ui-vr
    height: 5*ui-vr
  &__item--green-dark
    background-color: ui-green-dark
  &__item--green-light
    background-color: ui-green-light
  &__item--red
    background-color: ui-lightred
  &__item--black
    background-color: ui-dark
