.tile
  position: relative
  display: inline-block
  margin-left: 25%
  margin-top: 2*ui-hr
  min-height: ui-hr
  overflow: hidden
  transform: translate3d(0%, 0,0)
  &__row
    position: relative
    margin: 0
    min-height: ui-hr
    overflow: hidden
  &__item
    position: relative
    background-color: white
    transition: background-color 0.1s ease-in
    cursor: pointer
    float: left
    min-width: 2*ui-vr
    min-height: 4*ui-vr
    padding: ui-hr
    text-align: center
  &__item--green-dark
    background-color: ui-green-dark
  &__item--green-light
    background-color: ui-green-light
  &__item--red
    background-color: ui-lightred
  &__item--black
    background-color: ui-dark
