.tile
  border: solid 1px;
  border-radius: 3px
  box-shadow: 0 2px 0 rgba(0,0,0,0.4);
  position: relative
  display: inline-block
  margin-left: 50%
  margin-top: 2*ui-hr
  min-height: ui-hr
  overflow: hidden
  transform: translate3d(-50%, 0,0)
  &__row
    position: relative
    margin: 0
    min-height: ui-hr
    overflow: hidden
  &__item
    position: relative
    background-color: white
    transition: background-color 0.1s ease-in
    cursor: pointer
    //border: ui-border-default
    float: left
    min-width: 5*ui-vr
    min-height: 5*ui-vr
    padding: ui-hr
    text-align: center
  &__item:hover
    background-color: ui-grey
  &__vertical-separator-bottom
    position: absolute;
    left: 100%;
    background-color: ui-lightblack;
    height: 80%;
    bottom: 0px;
    width: 1px;
    z-index: 1
  &__vertical-separator-top
    position: absolute;
    left: 100%;
    background-color: ui-lightblack;
    height: 80%;
    top: 0px;
    width: 1px;
    z-index: 1
  &__horizontal-separator
    position: absolute;
    bottom: 0
    background-color: ui-lightblack
    height: 1px
    width:80%
    margin-left:10%
