extends ../layout.jade

block view
	.list
		.list__header
			| Your current ordR
		.list__item
			.qty: | 1x Pint : Foster
			.price: | 3.00£
		.list__item
			.qty: | 1x Pint : Foster
			.price: | 3.00£
		.list__item
			.qty: | 1x Pint : Foster
			.price: | 3.00£
		.list__item
			.qty: | 2x Pint : Foster
			.price: | 6.00£
	.total
		| Total : 15.00£
