extends ../layout.jade

block view

	.carousel.carousel--left
		.img-container
			.flag
				.flag__image
					img(src="/assets/icon/beer.png") 
				.flag__body Pick up your favorite brand
		.pan
			.pan__item
				.pan__title  1664
				.pan__subtitle  8%	
				.pan__number 5£	
			.pan__item
				.pan__title  Foster
				.pan__subtitle  6%
				.pan__number 4£	
			.pan__item
				.pan__title  Sidoux
				.pan__subtitle  14%	
				.pan__number 6£		
			.pan__item
				.pan__title  Paulaner
				.pan__subtitle  5%	
				.pan__number 9£			
			.pan__item
				.pan__title  Bombardier
				.pan__subtitle  8%
				.pan__number 7£			
			.pan__item
				.pan__title  Carlsberg
				.pan__subtitle  5%
				.pan__number 3£	
			.pan__item
				.pan__title  Corona
				.pan__subtitle  6%
				.pan__number 5£				
			.pan__item
				.pan__title  Heineken
				.pan__subtitle  4%
				.pan__number 3£			
			.pan__item
				.pan__title  Kronembourg
				.pan__subtitle  3.6%
				.pan__number 2£			
			.pan__item
				.pan__title  Bavaria
				.pan__subtitle  8.6%	
				.pan__number 5£	
			.pan__item
				.pan__title  Maximator
				.pan__subtitle  12.6%
				.pan__number 4£				
			.pan__item
				.pan__title  Leffe
				.pan__subtitle  6%
				.pan__number 5£		

	.carousel.carousel--right
		.img-container
			img(src="/assets/icon/credit98.svg")
		.pan
			.pan__item  1664
			.pan__item Foster	
			.pan__item Corona
			.pan__item Paulaner
			.pan__item Sidoux
			.pan__item 1664
			.pan__item Foster	
			.pan__item Corona
			.pan__item Paulaner
			.pan__item Sidoux
			.pan__item 1664
			.pan__item Foster	
			.pan__item Corona
			.pan__item Paulaner
			.pan__item Sidoux

