.btn
  border-radius: ui-border-radius
  cursor: pointer
  display: inline-block
  margin: 5px
  padding: 90px
  text-align: left
.btn-default
  border: ui-border-width solid ui-green
  color: ui-green
  &:hover
    background-color: ui-orange-light
