@require ui-variables

body
  background-color: ui-grey
  margin: 0
  font-family: ui-font-family

.view
  padding-top: 3*ui-vr
  
.title
	font-size: 30px
	text-align:center

.container 
	transition: margin-left 0.3s ease-in-out
	display: inline-block
	position: relative
	background-color: ui-grey
	
.container--show
	margin-left: 100px