@require ui-variables

body
  background-color: ui-grey
  margin: 0
  font-family: ui-font-family

ul
	list-style-type: none
	padding: 0px

.view
	overflow-x: hidden

.title
	font-size: 30px
	text-align:center

.container
	transition: margin-left 0.3s ease-in-out
	display: inline-block
	position: relative
	background-color: ui-grey
	padding-left: 0;
	width:100%

.container--show
	margin-left: ui-side-menu-size+10px+3px;

.circle
	height: 40px
	width: 40px
	border-radius: 50px
	background-color: white
	margin-left: 20px
	margin-bottom: 10px
