.navbar
  background-color: ui-red
  margin: 0px
  min-height: 3*ui-hr
  position: absolute
  width: 100%
  &__header
    color: ui-grey
    margin-left: ui-hr
    margin-top: ui-vr
    font-size: 1em
    cursor: pointer
   
  &__header:hover 
  	background-color: red;