.navbar
  background-color: ui-red
  width: 100%
  border-bottom: solid 5px #E8555A
  
  &__header
    cursor: pointer
    padding: 10px
    padding-left: 2*ui-hr
    width: 70px
   
  &__brand 
    color: ui-grey
    font-size: ui-font-size-h2
    border-bottom: 0px solid
    transition: all 0.1s ease-in
   
  &__brand:hover 
  	border-bottom: 4px solid
  	color: white
  	
  &__brand--active
  	border-bottom: 4px solid
  	color: white