@font-face
  font-family: 'sofia_prolight'
  src: url('/assets/font/SofiaProLight-webfont.eot')
  src: url('/assets/font/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/font/SofiaProLight-webfont.woff2') format('woff2'),
       url('/assets/font/SofiaProLight-webfont.woff') format('woff'),
       url('/assets/font/SofiaProLight-webfont.ttf') format('truetype'),
       url('/assets/font/SofiaProLight-webfont.svg#sofia_prolight') format('svg')
  font-weight: normal
  font-style: normal

// Vertical rythm
ui-vr = 20px
// Vertical rythm
ui-hr = 20px

// Base font family.
ui-font-family = 'sofia_prolight', sans-serif

// Colors
ui-green = #468966
ui-white = #FFF0A5
ui-orange-light = #FFB03B
ui-orange-dark = #B64926
ui-red = #8E2800

//New theme
ui-red = #AA3E42;
ui-lightblack = #3E3D3D;
ui-grey = #DBDFD1;


// Typography.
ui-font-size-h1 = 36px
ui-font-size-h2 = 26px
ui-font-size-h3 = 22px
ui-font-size-large = 18px
ui-font-size-base = 16px
ui-font-size-small = 14px

// Border widths for buttons and some elements. Also important for maintaining vertical rhythm.
ui-border-width = 4px

// Desired button heights.
ui-btn-lg-height = 46px
ui-btn-height = 36px
ui-btn-sm-height = 30px

// Buttons and input fields use this to determine how round they should be.
ui-border-radius = 3px
